{% extends '@Homie/Admin/base_admin.html.twig' %}
{% block main %}
    <div class="container">
        <div class="row row_custom">
            <div class="col s10 offset-s1 margin_top">
                {{ form_start(formCooker) }}
                {{ form_row(formCooker.username) }}
                {{ form_row(formCooker.plainPassword.first) }}
                {{ form_row(formCooker.plainPassword.second) }}
                {{ form_row(formCooker.street) }}
                {{ form_row(formCooker.zip_code) }}
                {{ form_row(formCooker.town) }}
                {{ form_row(formCooker.town) }}
                {{ form_row(formCooker.digicode) }}
                {{ form_row(formCooker.complement) }}
                {{ form_row(formCooker.phone) }}
                {{ form_row(formCooker.email) }}
                {{ form_row(formCooker.description) }}
                <button class="btn waves-effect waves-light right black" type="submit" name="action" id="{{ cooker.id }}">
                    Edit Cook
                    <i class="material-icons left">add</i>
                </button>
                {{ form_end(formCooker) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}