{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1">
                {{ form_start(formPhoto) }}
                {{ form_row(formPhoto.url) }}
                {{ form_row(formPhoto.alt) }}
                <button class="btn waves-effect waves-light right black" type="submit" name="action">
                    Add Photo
                    <i class="material-icons left">add</i>
                </button>
                {{ form_end(formPhoto) }}
            </div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1">
                {{ form_start(formCooker) }}
                {{ form_row(formCooker.id) }}
                {{ form_row(formCooker.name) }}
                {{ form_row(formCooker.forname) }}
                {{ form_row(formCooker.address1) }}
                {{ form_row(formCooker.phone) }}
                {{ form_row(formCooker.email) }}
                {{ form_row(formCooker.description) }}
                <button class="btn waves-effect waves-light right black" type="submit" name="action" id="{{ cooker.id }}">
                    Add Cooker
                    <i class="material-icons left">add</i>
                </button>
                {{ form_end(formCooker) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('form[name="homiebundle_photo"]').submit( function (e) {
                e.preventDefault();
                var $data = new FormData($(this)[0]);

                $.ajax({
                    method: 'post',
                    url: "{{ path('homie_cooker_photo_add') }}",
                    processData: false,
                    contentType: false,
                    data: $data,

                    success: function (response) {
                        $('#photo_input').remove();
                        var $inputToken = $('form[name="homiebundle_meal"] input[id="homiebundle_meal__token"]');
                        var idPhoto = response.id;

                        var inputElt = $(document.createElement('input'));
                        inputElt.attr({
                            'value': idPhoto,
                            'type': 'hidden',
                            'name': 'photo_id',
                            'id' : 'photo_input',
                        });

                        inputElt.insertBefore($inputToken);
                    }
                })
            });

            $('form[name="homiebundle_user"]').submit( function (e) {
                e.preventDefault();
                var $data = new FormData($(this)[0]);
                $.ajax({
                    method: 'post',
                    url: '{{ path('homie_cooker_edit') }}',
                    processData: false,
                    contentType: false,
                    data: $data,
                });
            });
        });
    </script>
{% endblock %}