{% extends '@Homie/Admin/base_admin.html.twig' %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col s10 offset-s1">
            {{ form_start(formPhoto) }}
            {{ form_row(formPhoto.url) }}
            {{ form_row(formPhoto.alt) }}
            <button class="btn waves-effect waves-light right black" type="submit" name="action">
                Add Photo
                <i class="material-icons left">add</i>
            </button>
            {{ form_end(formPhoto) }}
        </div>
    </div>

    <div class="row">
        <div class="col s10 offset-s1" id="formMeal">
            {{ form_start(formMeal) }}
            {{ form_row(formMeal.name) }}
            {{ form_row(formMeal.description) }}
            {{ form_row(formMeal.delay) }}
            {{ form_row(
            formMeal.price) }}
            {{ form_row(formMeal.meal_type) }}
            <button class="btn waves-effect waves-light right black" type="submit" name="action">
                Add Cooker
                <i class="material-icons left">add</i>
            </button>
            {{ form_end(formMeal) }}
        </div>
    </div>

    <div class="row">
        <div class="col s10 offset-s1" id="show_meals">
            {% for meal in meals %}
                <div class="card">
                    <img src="{{ asset('uploads/photos/') }}{{ meal.photo.url }}" alt="{{ meal.photo.alt }}">
                    <p>{{ meal.name }}</p>
                    <p>{{ meal.description }}</p>
                    <p>{{ meal.delay }}</p>
                    <p>{{ meal.mealType }}</p>
                    <a class="waves-effect waves-light btn black delete_btn" id="{{ meal.id }}">Delete</a>
                    <a href="{{ path('homie_admin_meal_edit_form', { 'id' : meal.id }) }}" class="waves-effect waves-light btn black edit_btn">Edit</a>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
    {% block javascripts %}
        <script>
            $(document).ready( function (e) {
                $('form[name="homiebundle_photo"]').submit( function (e) {
                    e.preventDefault();
                    var $data = new FormData($(this)[0]);

                    $.ajax({
                        method: 'post',
                        url: "{{ path('homie_cooker_photo_add') }}",
                        processData: false,
                        contentType: false,
                        data: $data,

                        success: function (response) {
                            var $inputToken = $('form[name="homiebundle_meal"] input[id="homiebundle_meal__token"]');
                            var idPhoto = response.id;
console.log($inputToken);
                            var inputElt = $(document.createElement('input'));
                            inputElt.attr({
                                'value': idPhoto,
                                'type': 'hidden',
                                'name': 'photo_id',
                                'id' : 'photo_input',
                            });

                            inputElt.insertAfter($inputToken);

                            $('#formMeal').slideDown(800);
                        }
                    })
                });

                $('form[name="homiebundle_meal"]').submit( function (e) {
                    e.preventDefault();
                    var $data = new FormData($(this)[0]);

                    $.ajax({
                        method: 'post',
                        url: '{{ path('homie_admin_meal_add') }}',
                        processData: false,
                        contentType: false,
                        data: $data,

                        success: function (response) {
                            console.log(response);
                            var card = $(document.createElement('div'));
                            card.attr('class', 'card');
                            card.css({'background':  'url({{ asset("uploads/photos/") }}' +response.photo.url+') center',
                                'background-size': 'cover',
                                'display': 'none'});

                            var nameCard = $(document.createElement('p'));
                            nameCard.text(response.name);

                            var descCard = $(document.createElement('p'));
                            descCard.text(response.description);

                            var delayCard = $(document.createElement('p'));
                            delayCard.text(response.delay);

                            var mealTypeCard = $(document.createElement('p'));
                            mealTypeCard.text(response.mealType);

                            var deleteBtn = $(document.createElement('a'));
                            deleteBtn.attr({
                                'class': 'waves-effect waves-light btn black delete_btn',
                                'id': response.id,
                            });
                            deleteBtn.text('supprimer');

                            var editBtn = $(document.createElement('a'));
                            editBtn.attr({
                                'class': 'waves-effect waves-light btn black edit_btn',
                                'id': response.id,
                            });
                            editBtn.text('edit');

                            card.append(nameCard, descCard, delayCard, mealTypeCard, deleteBtn, editBtn);


                            $('#show_cookers').prepend(card);
                            card.slideDown(800);

                            $('.delete_btn').on('click', function (e) {
                                var id = $(this).attr('id');
                                e.preventDefault();
                                $.ajax({
                                    method: 'get',
                                    url:  "{{ path('homie_admin_meal_delete') }}",
                                    data: {'id': id},
                                    success: function (response) {
                                        alert(response);
                                        $('#' + id).parent().slideUp(800).remove();
                                    }
                                });
                            });

                        },
                        complete: function () {
                            $('form[name="homiebundle_photo"]').trigger('reset');
                            $('form[name="homiebundle_meal"]').trigger('reset');
                            $('#formCooker').slideUp(800);
                        }

                    });
                });

                $('.delete_btn').on('click', function (e) {
                    var id = $(this).attr('id');
                    e.preventDefault();
                    $.ajax({
                        method: 'get',
                        url:  "{{ path('homie_admin_meal_delete') }}",
                        data: {'id': id},
                        success: function (response) {
                            alert(response);
                            $('#' + id).parent().slideUp(800).remove();
                        }
                    });
                });
            })
        </script>
    {% endblock %}