{% extends '@Homie/Admin/base_admin.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row row_custom">
            <div class="col s12 margin_top center-align">
                <a id="newCook" class="btn btn_custom">Create a New cook</a>
            </div>
            <div class="col s10 offset-s1" id="formCooker">
                {{ form_start(formCooker) }}
                    {{ form_row(formCooker.username) }}
                    {{ form_row(formCooker.plainPassword.first, { 'label': 'Password' }) }}
                    {{ form_row(formCooker.plainPassword.second, { 'label': 'Confirm Password' }) }}
                    {{ form_row(formCooker.street) }}
                    {{ form_row(formCooker.zip_code) }}
                    {{ form_row(formCooker.town) }}
                    {{ form_row(formCooker.town) }}
                    {{ form_row(formCooker.digicode) }}
                    {{ form_row(formCooker.complement) }}
                    {{ form_row(formCooker.phone) }}
                    {{ form_row(formCooker.email) }}
                    {{ form_row(formCooker.description) }}
                    <button class="btn waves-effect waves-light right black" type="submit" name="action">
                        Add Cook
                        <i class="material-icons left">add</i>
                    </button>
                {{ form_end(formCooker) }}
            </div>
        </div>

        <div class="row row_custom">
            <div class="col s10 offset-s1" id="show_cookers">
                {% for cooker in cookers %}
                    <div class="card">
                        <p>{{ cooker.username }}</p>
                        <p>{{ cooker.street }}</p>
                        <p>{{ cooker.zipCode }}</p>
                        <p>{{ cooker.town }}</p>
                        <p>{{ cooker.phone }}</p>
                        <p>{{ cooker.email }}</p>
                        <a class="waves-effect waves-light btn black delete_btn" id="{{ cooker.id }}">Delete</a>
                        <a href="{{ path('homie_cooker_edit_form', { 'id' : cooker.id }) }}" class="waves-effect waves-light btn black edit_btn">Edit</a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}