{% extends 'base.html.twig' %}
{% block header %}
    <nav>
        <div class="nav-wrapper">
            <h1 class="brand-logo center">HOMIE</h1>
        </div>
    </nav>
{% endblock %}
{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 margin_top">
                {{ form_start(formUser) }}
                    {{ form_row(formUser.username) }}
                    {{ form_row(formUser.plainPassword.first, { 'label': 'Password' }) }}
                    {{ form_row(formUser.plainPassword.second, { 'label': 'Confirm Password' }) }}

                {{ form_end(formUser) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}