{% extends '@Homie/Cook/cook_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container">
            <div class="row row_custom">
                <div class="col s10 offset-s1 margin_top">
                    {% for key, checkoutSort in checkoutSorts %}
                        <div class="row row_custom">
                            <div class="col s12">
                                <ul>
                                    {% for key, checkout in checkoutSort %}
                                        {% if key == 0 %}
                                            <h3>{{ checkout.client.username }}</h3>
                                            <p>phone: {{ checkout.client.phone }}</p>
                                            <p>{{ checkout.dateConfirmAdmin|date('d-m-Y h:i') }}</p>
                                            <p class="center-align"><b>Meals</b></p>
                                        {% endif %}
                                        <li class="center-align"><b>{{ checkout.meals }} x {{ checkout.quantity }}</b></li>
                                    {% endfor %}
                                </ul>
                                <button class="btn confirm_btn btn_custom" id="{{ key }}">Confirm</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready( function () {
            $('.confirm_btn').click( function (e) {
                e.preventDefault();
                var id = $(this).attr('id');
                $.ajax({
                    method: 'get',
                    url: '{{ path('homie_cook_confirm') }}',
                    data: {'id' : id},

                    success: function (response) {
                        alert(response);
                        $('#' + id).parent().slideUp(200);
                    }
                })
            })
        })
    </script>
{% endblock %}