{% extends '@Homie/Cook/cook_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container container_custom">
            <div class="row row_custom">
                <div class="col s10 offset-s1 form_add_meal margin_top">
                    <form name="addMeal">
                        <div class="input-field">
                            <select name="addMeal[meals]">
                                <option value="" disabled selected>Choose Meal</option>
                                {% for mealList in mealLists %}
                                    <option value="{{ mealList.id }}">{{ mealList.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Add a new meal:</label>
                        </div>
                        <button class="btnbtn waves-effect waves-light right btn_custom" type="submit">
                            Add this meal
                            <i class="material-icons left">add</i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row row_custom">
                <div class="col s10 offset-s1">
                    <ul id="show_meals align-center">
                        {% for meal in meals %}
                            <li class="show_meal_cook">
                                <h3>{{ meal.name }}</h3>
                                <p>Time: {{ meal.delay }} </p>
                                <a class="waves-effect waves-light btn btn_custom delete_btn" id="{{ meal.id }}">Delete</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('form[name="addMeal"]').submit( function (e) {
                e.preventDefault();
                var data = new FormData($(this)[0]);
                console.log(data);

                $.ajax({
                    method: 'post',
                    url: '{{ path('homie_cook_add_meal') }}',
                    processData: false,
                    contentType: false,
                    data: data,

                    success: function (response) {
                        alert('Meal added');
                        console.log(response);

                        var card = $(document.createElement('li'));

                        card.css('display', 'none');

                        var nameCard = $(document.createElement('h3'));
                        nameCard.text(response.name);

                        var delayCard = $(document.createElement('p'));
                        delayCard.text(response.delay);

                        var deleteBtn = $(document.createElement('a'));
                        deleteBtn.attr({
                            'class': 'waves-effect waves-light btn btn_custom delete_btn',
                            'id': response.id,
                        });
                        deleteBtn.text('Delete');

                        card.append(nameCard, delayCard, deleteBtn);

                        $('#show_meals').prepend(card);
                        card.slideDown(800);

                        $('.delete_btn').on('click', function (e) {
                            var id = $(this).attr('id');
                            e.preventDefault();
                            $.ajax({
                                method: 'get',
                                url:  "{{ path('homie_cooker_delete') }}",
                                data: {'id': id},
                                success: function (response) {
                                    alert(response);
                                    $('#' + id).parent().slideUp(800).remove();
                                }
                            });
                        });

                    },
                    error: function () {
                        alert('This meal is already added !');
                    }
                })
            });
            $('.delete_btn').on('click', function (e) {
                var id = $(this).attr('id');
                e.preventDefault();
                $.ajax({
                    method: 'get',
                    url:  "{{ path('homie_cook_delete_meal') }}",
                    data: {'id': id},
                    success: function (response) {
                        alert(response);
                        $('#' + id).parent().slideUp(800).remove();
                    }
                });
            });
        })
    </script>
{% endblock %}