{% extends 'HomieBundle:Cook:cook_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container container_custom">
            <div class="row row_custom">
                <div class="col s10 offset-s1 margin_top">
                    {{ form_start(formAvailable) }}
                    <input type="date" name="date" class="datepicker">
                    {{ form_widget(formAvailable.start_date.time) }}
                    {{ form_widget(formAvailable.end_date.time) }}
                    {{ form_widget(formAvailable.meals) }}
                    <input type="hidden" name="userId" value="{{ cook.id }}">
                    {{ form_widget(formAvailable.submit) }}
                    {{ form_end(formAvailable, {'render_rest': false}) }}
                </div>
            </div>

            <div class="row row_custom">
                <div class="col s10 offset-s1">
                    <ul class="center-align" id="showAvailable">
                        {% for available in availables %}
                            <li class="available">
                                <p>Date: {{ available.startDate|date("m/d/Y") }}</p>
                                <p>from: {{ available.startDate|date("h:i") }} to {{ available.endDate|date("h:i") }}</p>
                                <ul>
                                    <li class="show_meals">Show Meals</li>
                                    <li class="show_meal">
                                        <ul>
                                            {% for meal in available.meals %}
                                            <li>{{ meal.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                                <button class="waves-effect waves-light btn black delete_btn" id="{{ available.id }}">
                                    Delete
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready( function () {
            $('form[name="homiebundle_available"]').submit( function (e) {
                e.preventDefault();
                var data = new FormData($(this)[0]);
                console.log(data);

                $.ajax({
                    method: 'post',
                    url: '{{ path('homie_cook_available_add') }}',
                    processData: false,
                    contentType: false,
                    data: data,

                    success: function (response) {
                        alert('Dates added');
                        console.log(response);

                        var card = $(document.createElement('li'));

                        card.css('display', 'none');

                        /*var dateCard = $(document.createElement('h3'));
                        dateCard.text("{\{ " + response.start_date + "|date('m/d/Y') }}<br>from: {\{" + response.startDate + "|date('h:i') }} to {\{ " + response.endDate + "|date('h:i') }}");
*/
                        var meals = response.meals;
                        var mealsCard = $(document.createElement('p'));

                        for(var i = 0; i < meals.length; i++){
                            mealCard.text(meals[i].name + '<br>');
                        }


                        var deleteBtn = $(document.createElement('a'));
                        deleteBtn.attr({
                            'class': 'waves-effect waves-light btn black delete_btn',
                            'id': response.id,
                        });
                        deleteBtn.text('supprimer');

                        card.append( mealsCard, deleteBtn);

                        $('#showAvailable').prepend(card);
                        card.slideDown(200);

                        $('.delete_btn').on('click', function (e) {
                            var id = $(this).attr('id');
                            e.preventDefault();
                            $.ajax({
                                method: 'get',
                                url:  "{{ path('homie_cook_available_delete') }}",
                                data: {'id': id},
                                success: function (response) {
                                    alert(response);
                                    $('#' + id).parent().slideUp(800).remove();
                                }
                            });
                        });

                    },
                    error: function () {
                        alert('Something goes wrong, please try again.');
                    }
                })
            });
            $('.delete_btn').on('click', function (e) {
                var id = $(this).attr('id');
                e.preventDefault();
                $.ajax({
                    method: 'get',
                    url:  "{{ path('homie_cook_available_delete') }}",
                    data: {'id': id},
                    success: function (response) {
                        alert(response);
                        $('#' + id).parent().slideUp(800).remove();
                    }
                });
            });
        })
    </script>
{% endblock %}