{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path('homie_cook_home') }}" class="brand-logo">Homie</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>{% if cook.online == 1 %}
                            <a class="passOnline" style="background-color: white; color: #ff2f20;">Pass Offline</a>
                        {% elseif cook.online == 0 %}
                            <a class="passOnline">Pass Online</a>
                        {% endif %}
                    </li>
                    <li><a href="{{ path('homie_cook_available') }}">Dates</a></li>
                    <li><a href="{{ path('homie_cook_meals') }}">Meals</a></li>
                    <li><a href="{{ path('homie_cook_home') }}">Home</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        {% if cook.online == 1 %}
                            <a class="passOnline" style="background-color: white; color: #ff2f20;">Pass Offline</a>
                        {% elseif cook.online == 0 %}
                            <a class="passOnline">Pass Online</a>
                        {% endif %}
                    </li>
                    <li><a href="{{ path('homie_cook_available') }}">Dates</a></li>
                    <li><a href="{{ path('homie_cook_meals') }}">Meals</a></li>
                    <li><a href="{{ path('homie_cook_home') }}">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            // pass online button
            $('.passOnline').click( function (e) {
                e.preventDefault();
                var data = "hello";

                $.ajax({
                    method: 'get',
                    url: "{{ path('homie_cook_passOnline') }}",
                    data: data,

                    success: function (response) {
                        alert(response);
                        if(response == "You are now Offline!") {
                            $('.passOnline').text('Pass Online');
                            $('.passOnline').css({
                                'background-color' : '#ff2f20',
                                'color' : 'white'
                            });
                        }
                        else{
                            $('.passOnline').text('Pass Offline');
                            $('.passOnline').css({
                                'background-color' : 'white',
                                'color' : '#ff2f20'
                            });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
