{% extends '@Homie/Client/client_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container">
            <div class="row">
                {% for cook in cooks %}
                    {% for meal in cook.meals %}
                        <div class="col s4 card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ asset('uploads/photos/') }}{{ meal.photo.url }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ meal.name }}<i class="material-icons right">more_vert</i></span>
                                <p>{{ cook.username }}, price: {{ meal.price }}€</p>
                            </div>
                            <div class="card-action">
                                <a class="buy_btn" id="{{ cook.id }}-{{ meal.id }}">Buy</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ meal.name }}<i class="material-icons right">close</i></span>
                                <p>{{ meal.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('.buy_btn').click( function (e) {
                e.preventDefault();
                var data = {'ids': $(this).attr('id')} ;
                $.ajax({
                    method: 'get',
                    url: "{{ path('homie_client_buy') }}",
                    data: data,

                    success: function (response) {
                        alert(response);
                    }

                })
            });
        })
    </script>
{% endblock %}