{% extends '@Homie/Client/client_layout.html.twig' %}

{% block main %}
    <main>
        <div class="container">
            <div class="row row_custom">
                {% for cook in cooks %}
                    {% for meal in cook.meals %}
                        <div class="col s12 card card_custom margin_top">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ asset('uploads/photos/') }}{{ meal.photo.url }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ meal.name }}<i class="material-icons right">more_vert</i></span>
                                <p>{{ cook.username }}, price: {{ meal.price }}€</p>
                            </div>
                            <div class="card-action">
                                <form name="form_buy">
                                    <p class="range-field">
                                        <label for="#quantity">Quantity:</label>
                                        <input type="range" name="quantity" id="quantity" min="1" max="10" value="1" />
                                    </p>
                                    <input type="hidden" name="ids" value="{{ cook.id }}-{{ meal.id }}" />
                                    <button type="submit" class="btn btn_custom">Buy</button>
                                </form>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ meal.name }}<i class="material-icons right">close</i></span>
                                <p>{{ meal.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('form[name="form_buy"]').submit( function (e) {
                e.preventDefault();
                 var data = new FormData($(this)[0]);
                $.ajax({
                    method: 'post',
                    url: "{{ path('homie_client_buy') }}",
                    processData: false,
                    contentType: false,
                    data: data,

                    success: function (response) {
                        console.log(response);
                        $('.checkNbTxt').text(response.checkoutNb)
                        alert(response.msg);

                    }

                })
            });
        })
    </script>
{% endblock %}